@import "tailwindcss";

:root {
  --primary-bg: #caf289;
  --secondary-color: #c2e96a;
  --primary-text: #5d3a0e;
  --secondary-text: #8a5d3a;
  --navTabLink: #38aa3d;
  --navTabLinkHover: #26952b;
  --navTabLinkBorder: #187d20;

  --simpleProfile-title: "";
  --blog-title: "";
  --github-title: "";
  --instagram-title: "";
  --player-title: "";
}

* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  box-sizing: border-box;
}

@font-face {
  font-family: "CookieRun-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.theme-elgasia {
  @apply flex w-full h-full bg-[url('/s2/elgasia.jpg')] flex-col items-center justify-center bg-no-repeat bg-cover bg-center text-white;
}

.s3-menu {
  @apply fixed top-0 left-0 p-2 w-full flex justify-end z-99;
}

.s3-menu a {
  display: inline-block;
  color: var(--navTabLink);
  font-size: 1.2rem;
  padding: 12px 24px;
  text-align: center;
  cursor: pointer;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  font-family: "CookieRun-Regular";
}

.s3-menu a:not(:last-child) {
  margin-right: 1.5rem;
}

.s3-menu a:hover {
  color: #fff;
  background-color: var(--navTabLinkHover);
  text-decoration: underline;
}

.s3-menu a.active {
  color: #fff;
  background-color: var(--navTabLinkHover);
  text-decoration: underline;
}

.s3-main {
  @apply mt-2 flex gap-4;
}

.s3-main li a {
  @apply inline-flex items-center justify-center w-10 h-10 rounded-full border border-1 border-[var(--primary-text)];
}
.s3-main li a:hover {
  @apply bg-[var(--primary-text)] text-white;
}

.s3-main li a svg {
  @apply w-6 h-6;
}
